body {
	margin:0;
	font-size: 20px;
	font-family: 'Roboto';
}

.Text-Center{
	text-align: center;
}

section {
	width: 100%;
}

section::after{
	content: "";
		clear: both;
		display: table;
}

.Section-Header {
	color: black;
	font-size: 35px;
	padding: 4rem;
}

/*Section*/

#Header {
	opacity: 0.8;
	background-position: center;
	background-image: url(Images/Bambang.jpg);
	background-size: cover;
	height: 550px;
	padding-top: 14px;
}

/*Navigation Bar*/

#Header-Nav ul{
	word-spacing: 20px;
}

#Header-Nav li {
	display: inline-block;
}

#Header-Nav li a {
	text-decoration: none;
	color:white;
}

.Nav-Bar li a{
	transition: color 0.5s, border-bottom 4s;
}

.Nav-Bar li a:hover{
	color: lightgray;
	border-bottom: 1px solid black;
}